
<link href="~/css/home.css" rel="stylesheet" />

@* card *@
<h1 style="text-align:center;margin-top:50px;">About Work</h1>
<div class="wrapper">
    <div class="containerr">
        <input type="radio" name="slide" id="c1" checked>
        <label for="c1" class="card">
            <div class="row">
                <div class="icon">1</div>
                <div class="description">
                    <h4>Winter</h4>
                    <p>
                        Winter has so much to offer -
                        creative activities
                    </p>
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="c2">
        <label for="c2" class="card">
            <div class="row">
                <div class="icon">2</div>
                <div class="description">
                    <h4>Digital Technology</h4>
                    <p>
                        Gets better every day -
                        stay tuned
                    </p>
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="c3">
        <label for="c3" class="card">
            <div class="row">
                <div class="icon">3</div>
                <div class="description">
                    <h4>Globalization</h4>
                    <p>Help people all over the world </p>
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="c4">
        <label for="c4" class="card">
            <div class="row">
                <div class="icon">4</div>
                <div class="description">
                    <h4 style="color: black;">New Technology</h4>
                    <p>
                        Space engeneering becomes
                        more and more advance
                    </p>
                </div>
            </div>
        </label>
    </div>
</div>
@* card *@









       @*  price *@
       <h1 style="text-align:center">Price</h1>
       <seco>
    <div id="mainCoantiner">
        <!--dust particel-->
        <div class="margin-body">

            <div>
                <div class="starsec"></div>
                <div class="starthird"></div>
                <div class="starfourth"></div>
                <div class="starfifth"></div>
            </div>
            <!--Dust particle end--->

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <div class="title-h1 text-center"><span><span class="light">pricing </span> table</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 col-md-3 pricing-column-wrapper">
                    <div class="pricing-column">
                        <div class="pricing-price-row">
                            <div class="pricing-price-wrapper">
                                <div class="pricing-price">
                                    <div class="pricing-cost">$30</div>
                                    <div class="time">Small</div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="pricing-row-title">
                            <div class="pricing_row_title">Small Car</div>
                        </div>
                        <figure class="pricing-row">Dry clean</figure>
                        <figure class="pricing-row"><span>car wach</span></figure>
                     
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 pricing-column-wrapper">
                    <div class="pricing-column">
                        <div class="pricing-price-row">
                            <div class="pricing-price-wrapper">
                                <div class="pricing-price">
                                    <div class="pricing-cost">$45</div>
                                    <div class="time">meduim</div>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-row-title">
                            <div class="pricing_row_title">meduim Car</div>
                        </div>
                        <figure class="pricing-row">Dry clean</figure>
                        <figure class="pricing-row"><span>car wach</span></figure>
                     
                     
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 pricing-column-wrapper">
                    <div class="pricing-column">
                        <div class="pricing-price-row">
                            <div class="pricing-price-wrapper">
                                <div class="pricing-price">
                                    <div class="pricing-cost">$99</div>
                                    <div class="time">big</div>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-row-title">
                            <div class="pricing_row_title">big Car</div>
                        </div>
                        <figure class="pricing-row">Dry clean</figure>
                        <figure class="pricing-row"><span>car wach</span></figure>
                       
                     
                    </div>
                </div>
        
            </div>

        </div>
    </div>
       </seco>
@*  price *@