
@model List<Car>


<link href="~/css/table.css" rel="stylesheet" />





<link href="https://fonts.googleapis.com/css? family=Open+Sans:300, 400, 700" rel="stylesheet" type="text/css" />




<h1 style="padding:0px;color:black">Cars Type</h1>

<button type="button" style="margin-bottom:30px;margin-left:110px;" class="btn btn-info"><a href="/Car/Create">Add Car</a></button>
<style>
	.btn a {
		color: white;
		font-size: 18px;
		font-weight: bolder;
		text-decoration: none;
	}
</style>

<table class="container">
	<thead>
		<tr>
			<th><h1>Car Name</h1></th>
			<th><h1>Service Id</h1></th>
			<th><h1>Car Size</h1></th>
			<th><h1> Delete</h1></th>

		</tr>
	</thead>

	@foreach (Car I in Model)
	{
		<tbody>
			<tr>
				<td>@I.CarName</td>
				<td>@I.ServiceId</td>
				<td>@I.CarSizeID</td>
				<td><a href="/Car/Delete/@I.CarID">X</a></td>

			</tr>

		</tbody>

	}

</table>




